body { margin: 60px auto; width: 90%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 200px;
  max-width: 800px;
  overflow-x: scroll;
  overflow-y: scroll;
  background-color: #fcfcfc;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

/* ### Text formatting ###*/
/* links */
a { text-decoration: none; color: #5c4699
; } /* #024583 #7357c1 */
a:hover { text-decoration: underline; }
/* paragraphs, lists, tables */
p, ul, ol, table { color: #333742; font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
li {padding-bottom: 8px;}
/* navigation and footer */
nav ul, footer ul { font-size: 1.1em;  padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 15px; }
nav {border-bottom: 1px solid #c7c7c7; }
footer { border-top: 1px solid #c7c7c7; font-size: 0.7em; }
footer a {text-decoration: none; color: #1f026e;}
nav a {text-decoration: none; color: #35018a;}
/* headings */
h1 { font-size: 2.0em; color: #03639b }
h2 { font-size: 1.0em; color: #35018a }
h3 { font-size: 1.2em; color: #35018a }
h4 { font-size: 1.0em; color: #3183b3 } 

/* ### Responsive Column Stacking ### */
* {
  box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding-right: 50px;
  padding-top: 0px;
  padding-bottom: 20px;
}
.left {
  width: 40%;
}
.right {
  width: 60%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 200px) {
  .column {
    width: 100%;
  }
}

/* ### Tool tips ### */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #a7b2c5;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 105%;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.1s;
}
/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #a7b2c5 transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
body, html {
  height: 100%;
}

/* ### Hero image/text ### */
/* The image */
.hero-image {
  background-image:  url("background3.jpg");
  /* Set a specific height */
  height: 15%;
  width: 90%;
  min-width: 200px;
  max-width: 800px;
  /* Position and center the image to scale nicely on all screens */
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  top: 10px;
  position: fixed; 
  z-index: 3;
}
/* Place text in the middle of the image */
.hero-text {
  color: white;
}

/* ### Floating Back-To-Top Button ### */
/* make the button */
#myBtn {
  position: fixed;
  bottom: 10px;
  float: right;
  right: 5%;
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-color: #35018ac0;
  background-color: #35018a6e;
  padding: .5px;
  border-radius: 50%;
  color: white;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
/*on hover changes*/
#myBtn:hover {
  background-color: #35018ac0;
  text-decoration: none;
  cursor: pointer;
}

/* ### Responsive Side Menu ### */
/* The side navigation menu */
@media screen and (min-width: 600px) {
.myNavbtn {
background-color: none;
color: none;
width: 0px;
height: 0px;
padding: 0px;
font-size: 0px;
border: none;
cursor: pointer;
border-radius: 15%;
}
.myNav-content ul {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  width: 100px;
  height: 100%;
  position: fixed;
  overflow: auto;
}
.myNav-content li a {
  display: block;
  font-size: 0.9em;
  color: #35018a;
  padding: 5px 5px;
  text-decoration: none;
}
.myNav {
  margin-top: 20px;
  padding: 0px 10px 0px 0px;
  width: 100px;
  position: fixed;
  overflow: auto;
}
/* Sidebar links */
.myNav-content a {
  display: block;
  padding: 5px;
  font-size: 1.1em; 
  color: #35018a;
  text-decoration: none;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.container {
  margin-left: 100px;
  padding: 10px 10px 10px 10px;
  margin-top: 9%;
}
}

@media screen and (max-width: 600px) {
.myNavbtn {
  background-color: #fcfcfc69;
  color: #08090a73;
  width: 30px;
  height: 30px;
  padding: 1px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15%;
  position: fixed;
}
.myNav {
  position: relative;
  display: inline-block;
}
.myNav-content {
  display: none;
  position: absolute;
  font-size: 1.1em; 
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.myNav-content ul {
  margin: 0;
  padding: 0;
  background-color: #a5a5a557;
  width: 100px;
  position: fixed;
  overflow: auto;
}
.myNav-content ul a {
  font-size: 0.9em; 
  color: #35018a;
  padding: 1px 10px;
  text-decoration: none;
  display: block;
}
.myNav-content a:hover {background-color: #bde5f173}
.myNav:hover .myNav-content {
  display: block;
}
.myNav:hover .myNavbtn {
  color: #08090ab4;
}
div.container {
  margin-left: 0px;
}
}
